<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>Course</title>
    </head>
    <body style="background: #E1EFE6;">
        <% include header %>
        
        <div class="container" style=" padding-top: 50px; height: auto">
            <div class="jumbotron">

              <h1 class="display-4">Home Page!</h1>
              <p class="lead">Balala page info.</p>
              <hr class="my-4">
              <img class="card-img-top" src="./T-Test.png" alt="Card image cap" width=10%">
              <h5 class="card-title">LineBot QRcode</h5>
              

              <% if (user) { %>   
                <!-- 已登入 -->
              <% } else{ %>
                <!-- 未登入 -->
                <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Login</a>
              <% } %>

            </div>
        </div>
        
    </body>
</html>