<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>Login</title>
        <style>

            body{
                background: #E1EFE6;
            }

            main{
                padding-left: 55%;
            }

            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 5px;
                background: #ff5353;
            }

            .line-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 5px;
                background: #00c300;   
            }

            .facebook-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 5px;
                background: #3B5998;
                /*pointer-events:none;   */
            }

            .twitter-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 5px;
                background: #3B5998;   
            }

        </style>

    </head>
    <body>
        <% include header %>
        <% include login %>
        <main>
            <div class="container">
                <a class="google-btn" href="/auth/google">Google+</a>
                <a class="line-btn" href="/auth/line">Line</a>
            </div>
            
            <!-- <a class="twitter-btn" href="/auth/twitter">Twitter</a> -->
            <!-- <a class="facebook-btn" href="/auth/facebook">Facebook</a> -->
        </main>
    </body>
</html>