<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<title>Post</title>
	<style>

            body{
            	background: #E1EFE6;
            }

            input{

                text-align: center;
            } 

            #postedfile{
            	display: none;
            }   

            .container{
            	padding: 50px; 
            	background: #DCDCDC;
            }        

        </style>
</head>
<body>
	<% include header %>

	<div class='container'> 
	    <div class="col-sm-12">

	    	<h3>Video upload (User)</h3><br>

	        <form method="post" enctype="multipart/form-data">

	        	<label class="btn btn-info">
					<input type="file" id="postedfile" name="recfile" accept=".mp4" />
					<i class="fa fa-file-video-o"></i> 選擇檔案(.MP4)
				</label>
	            		
            	<h3 id="uploadFileName"></h3>

                <button  type="submit" class="btn btn-primary" formaction="/post/user/upload">Upload</button>

	        </form>
            <br>
            <h3><%= Msg %></h3>
	    </div>
	</div>

	

</body>
</html>


<script type="text/javascript">

	let postedfile = document.getElementById('postedfile');
	let uploadFileName = document.getElementById('uploadFileName');

    setInterval(()=> {
        FileName(); 
    }, 1000);

    function FileName(){

        // console.log(postedfile.value);
        if(postedfile.value){

        	let tem = postedfile.value.split('\\');
        	// C:/fakepath/filename.mp4

        	uploadFileName.innerHTML = tem[2];
        }
    }

</script>